.parentDiv{
    width: 450px;
    height: 600px;
    border: 5px solid white;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.oldDiv{
    display: inline-block;
}
.item{
    width: 130px;
    height: 550px;
    border: 5px solid  white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

.childDiv{
    width: 61px;
    height: 60px;
    border: 5px solid yellow;
    background-color: yellow;
}
#M1{
    position: relative;
    right: 69.5px;

}
#M7{
    position: relative;
    bottom: 418px;
}
#M6{
    position: relative;
    bottom: 348px;
    left: 70px; 
}

#S0{
    position: relative;
    top:139px;
}
#S2{
    position: relative;
    right: 69.5px;
    bottom:69.5px;

}
#S3{
    position: relative;
    left: 69.5px;
    bottom: 139px ;
}
#S5{
    position: relative;
    left: 69.5px;
    top:139px;
}
#S6{
    position: relative;
    right: 69.5px;
    top:69.5px;

}
#S9{
    position: relative;
    right: 69.5px;
    top:139px;
}
#S10{
    position: relative;
    right: 208.5px;
    top:69.5px;
}
#D2{
    position: relative;
    right: 69.5px ; 
    bottom: 69.5px;
}
#D3{
    position: relative;
    left: 69.5px;
    bottom: 139px;
    padding-right: 30px;
}
#D4{
    position: relative;
    left: 69.5px;
    top: 208.5px;
    padding-right: 12px;
}
#D5{
    position: relative;
    right: 69.5px;
    top: 139px;
}
#D7{
    position: relative;
    top: 69.5px; 
}